.main {
    font-family: "Audiowide", sans-serif;
    padding: 16px;
    margin-top: 30px;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-left: -8px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

a.active {
    background-color: #08ac6c;
    transition: background-color;
    transition-duration: 0.5s;
}

a.active:hover {
    background-color: #078c59;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color;
    transition-duration: 1s;
}

li a:hover {
    background-color: #111;
}